Middle_Layer/node.json
[
    {
        "id": "25dc77b9.3d62c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c69eebb9.17d328",
        "type": "mysql",
        "z": "25dc77b9.3d62c",
        "mydb": "40890955.a85948",
        "name": "Inflow",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "1e717d64.dae073"
            ]
        ]
    },
    {
        "id": "fcf5dcc4.439a2",
        "type": "mysql",
        "z": "25dc77b9.3d62c",
        "mydb": "40890955.a85948",
        "name": "Outflow",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "b160efcf.16889"
            ]
        ]
    },
    {
        "id": "92bf0666.df2548",
        "type": "mysql",
        "z": "25dc77b9.3d62c",
        "mydb": "40890955.a85948",
        "name": "All Whe. sta",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "f882c6af.2d8478"
            ]
        ]
    },
    {
        "id": "f601ebd1.16eee8",
        "type": "calculator",
        "z": "25dc77b9.3d62c",
        "name": "Algorithem",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "pow",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "9ed2924e.a1b29"
            ]
        ]
    },
    {
        "id": "1e6afe4f.2ed812",
        "type": "mqtt in",
        "z": "25dc77b9.3d62c",
        "name": "Rain",
        "topic": "Rain",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b9b1264.c7985",
        "x": 70,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1e717d64.dae073",
        "type": "json",
        "z": "25dc77b9.3d62c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "f7c2161b.3f6388",
                "f601ebd1.16eee8"
            ]
        ]
    },
    {
        "id": "b160efcf.16889",
        "type": "json",
        "z": "25dc77b9.3d62c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "f601ebd1.16eee8"
            ]
        ]
    },
    {
        "id": "f882c6af.2d8478",
        "type": "json",
        "z": "25dc77b9.3d62c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "f7c2161b.3f6388",
                "f601ebd1.16eee8"
            ]
        ]
    },
    {
        "id": "f0b6692a.5ef318",
        "type": "json",
        "z": "25dc77b9.3d62c",
        "name": "Damdata",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "f7c2161b.3f6388",
                "f601ebd1.16eee8"
            ]
        ]
    },
    {
        "id": "aef90cf.8a1daf",
        "type": "mysql",
        "z": "25dc77b9.3d62c",
        "mydb": "40890955.a85948",
        "name": "Dam_data",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f7c2161b.3f6388",
        "type": "template",
        "z": "25dc77b9.3d62c",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO dam_data(frl,elive_storage,reservoir,live_storage)\nVALUES({{payload.frl}},{{payload.elive_storage}},{{payload.reservoir}},{{payload.live_storage}});",
        "output": "str",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "aef90cf.8a1daf"
            ]
        ]
    },
    {
        "id": "363038f0.14b328",
        "type": "link in",
        "z": "25dc77b9.3d62c",
        "name": "Rain",
        "links": [],
        "x": 35,
        "y": 280,
        "wires": [
            [
                "f0b6692a.5ef318"
            ]
        ]
    },
    {
        "id": "ce7d40cf.31baa",
        "type": "mqtt out",
        "z": "25dc77b9.3d62c",
        "name": "",
        "topic": "siren",
        "qos": "1",
        "retain": "true",
        "broker": "aec2d4ac.3af4e8",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "9ed2924e.a1b29",
        "type": "switch",
        "z": "25dc77b9.3d62c",
        "name": "condi",
        "property": "payload.water_level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "600",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "600",
                "vt": "num",
                "v2": "650",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "650",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "20057a48.a2c306",
                "26ed634f.9af11c"
            ],
            [
                "d3ed98fd.01f6d8",
                "756996a5.47deb8"
            ],
            [
                "35cca171.e3a69e"
            ]
        ]
    },
    {
        "id": "20057a48.a2c306",
        "type": "change",
        "z": "25dc77b9.3d62c",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "ce7d40cf.31baa",
                "4339b83b.695988"
            ]
        ]
    },
    {
        "id": "d3ed98fd.01f6d8",
        "type": "change",
        "z": "25dc77b9.3d62c",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 460,
        "wires": [
            [
                "ce7d40cf.31baa",
                "4339b83b.695988"
            ]
        ]
    },
    {
        "id": "4339b83b.695988",
        "type": "debug",
        "z": "25dc77b9.3d62c",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "26ed634f.9af11c",
        "type": "trigger",
        "z": "25dc77b9.3d62c",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "2",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 770,
        "y": 540,
        "wires": [
            [
                "1da425f.0b698da"
            ]
        ]
    },
    {
        "id": "1da425f.0b698da",
        "type": "sms",
        "z": "25dc77b9.3d62c",
        "name": "Exe.Engineer",
        "message": "The level of water across the dam has reached to critical. Please move to safest zone.Emergency contact no:+911126187232.   You can view the live dashboard by goinh to the link:http://18.223.110.198:3000/d/cVFSgWVMk/new?orgId=1&from=1596448083419&to=1596448697399",
        "numbers": "+919420804744",
        "throttle": "1",
        "twilio": "6fefe367.a9edec",
        "x": 1000,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "756996a5.47deb8",
        "type": "trigger",
        "z": "25dc77b9.3d62c",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "2",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "631d362f.fa93e8"
            ]
        ]
    },
    {
        "id": "631d362f.fa93e8",
        "type": "sms",
        "z": "25dc77b9.3d62c",
        "name": "District magistrate",
        "message": "The level of water across the dam has reached to critical. Please move to safest zone.Emergency contact no:+911126187232.   You can view the live dashboard by goinh to the link: http://18.223.110.198:3000/d/cVFSgWVMk/new?orgId=1&from=1596110396017&to=1596283196018",
        "numbers": "+919420804744",
        "throttle": "1",
        "twilio": "6fefe367.a9edec",
        "x": 1030,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "35cca171.e3a69e",
        "type": "trigger",
        "z": "25dc77b9.3d62c",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "2",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 790,
        "y": 680,
        "wires": [
            [
                "e0b0c32a.364f"
            ]
        ]
    },
    {
        "id": "e0b0c32a.364f",
        "type": "sms",
        "z": "25dc77b9.3d62c",
        "name": "Everyone",
        "message": "The level of water across the dam has reached to critical. Please move to safest zone.Emergency contact no:+911126187232.   You can view the live dashboard by goinh to the link: http://18.223.110.198:3000/d/cVFSgWVMk/new?orgId=1&from=1596110396017&to=1596283196018",
        "numbers": "+919420804744",
        "throttle": "1",
        "twilio": "6fefe367.a9edec",
        "x": 1020,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "40890955.a85948",
        "type": "MySQLdatabase",
        "z": "",
        "name": "Raindata",
        "host": "localhost",
        "port": "3306",
        "db": "db1",
        "tz": ""
    },
    {
        "id": "9b9b1264.c7985",
        "type": "mqtt-broker",
        "z": "",
        "name": "Temperature",
        "broker": "18.223.110.198",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "20208888/cube/data",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "ONLINE",
        "closeTopic": "20208888/cube/data",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "OFFLINE",
        "willTopic": "20208888/cube/data",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "DISCONNECTED"
    },
    {
        "id": "aec2d4ac.3af4e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "esp8266",
        "broker": "18.223.110.198",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "ACE/OP",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "ONLINE",
        "closeTopic": "ACE/OP",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "OFFLINE",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6fefe367.a9edec",
        "type": "twilioConfig",
        "z": "",
        "name": "twilioConfig"
    }
]