Middle_Layer/node.json
[
    {
        "id": "90897012.e4d35",
        "type": "tab",
        "label": "LoRasync",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1e6bd16.9cd9c",
        "type": "inject",
        "z": "90897012.e4d35",
        "name": "",
        "topic": "",
        "payload": "{\"id\":\"2\",\"name\":\"ESP\",\"water_level\":251}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 60,
        "wires": [
            [
                "67ab286.a8975d8"
            ]
        ]
    },
    {
        "id": "ede14377.6354b",
        "type": "debug",
        "z": "90897012.e4d35",
        "name": "chmsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "5838ece9.25d074",
        "type": "mysql",
        "z": "90897012.e4d35",
        "mydb": "40890955.a85948",
        "name": "db1",
        "x": 470,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f9218e42.a20cb",
        "type": "template",
        "z": "90897012.e4d35",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO mydata(id,name,water_level)\nVALUES('{{payload.id}}','{{payload.name}}',{{payload.water_level}});",
        "output": "str",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "bbdc6d84.455a8",
                "5838ece9.25d074"
            ]
        ]
    },
    {
        "id": "3928d448.f0fa2c",
        "type": "mqtt in",
        "z": "90897012.e4d35",
        "name": "",
        "topic": "lorasync",
        "qos": "2",
        "datatype": "auto",
        "broker": "aec2d4ac.3af4e8",
        "x": 60,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "67ab286.a8975d8",
        "type": "json",
        "z": "90897012.e4d35",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "f9218e42.a20cb"
            ]
        ]
    },
    {
        "id": "22bc959d.4c4a4a",
        "type": "mqtt out",
        "z": "90897012.e4d35",
        "name": "",
        "topic": "siren",
        "qos": "1",
        "retain": "true",
        "broker": "aec2d4ac.3af4e8",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "bbdc6d84.455a8",
        "type": "switch",
        "z": "90897012.e4d35",
        "name": "condi",
        "property": "payload.water_level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "25",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "25",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "7084dd2c.e15484"
            ],
            [
                "69009d9a.925ae4"
            ],
            [
                "69009d9a.925ae4"
            ]
        ]
    },
    {
        "id": "110de2d8.e45fbd",
        "type": "debug",
        "z": "90897012.e4d35",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "1753ac55.86f554",
        "type": "twilio out",
        "z": "90897012.e4d35",
        "twilio": "2e5798be.c25978",
        "twilioType": "sms",
        "url": "",
        "number": "",
        "name": "",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "abd1a1d6.f4738",
        "type": "trigger",
        "z": "90897012.e4d35",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "15",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 590,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7084dd2c.e15484",
        "type": "change",
        "z": "90897012.e4d35",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "22bc959d.4c4a4a",
                "3c03c3da.26d4cc"
            ]
        ]
    },
    {
        "id": "ddf879c4.b68b98",
        "type": "sms",
        "z": "90897012.e4d35",
        "name": "sms",
        "message": "The level of water across the dam has reached to critical. Please move to safest zone.Emergency contact no:+911126187232.",
        "numbers": "",
        "throttle": "1",
        "twilio": "6fefe367.a9edec",
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "69009d9a.925ae4",
        "type": "change",
        "z": "90897012.e4d35",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "22bc959d.4c4a4a",
                "3c03c3da.26d4cc"
            ]
        ]
    },
    {
        "id": "3c03c3da.26d4cc",
        "type": "debug",
        "z": "90897012.e4d35",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e11b2f8.5e2bbc",
        "type": "mqtt in",
        "z": "90897012.e4d35",
        "name": "",
        "topic": "lora",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b9b1264.c7985",
        "x": 300,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "40890955.a85948",
        "type": "MySQLdatabase",
        "z": "",
        "name": "IoT DB on Saumya AWS",
        "host": "localhost",
        "port": "3306",
        "db": "db1",
        "tz": ""
    },
    {
        "id": "aec2d4ac.3af4e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "esp8266",
        "broker": "18.223.110.198",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "ACE/OP",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "ONLINE",
        "closeTopic": "ACE/OP",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "OFFLINE",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e5798be.c25978",
        "type": "twilio-api",
        "z": "",
        "name": "",
        "sid": "ACd9aaebe64aec31e3eea2fd2926d33019",
        "from": "+16014016058"
    },
    {
        "id": "6fefe367.a9edec",
        "type": "twilioConfig",
        "z": "",
        "name": "twilioConfig"
    },
    {
        "id": "9b9b1264.c7985",
        "type": "mqtt-broker",
        "z": "",
        "name": "Temperature",
        "broker": "18.223.110.198",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "20208888/cube/data",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "ONLINE",
        "closeTopic": "20208888/cube/data",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "OFFLINE",
        "willTopic": "20208888/cube/data",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "DISCONNECTED"
    }
]