Middle_Layer/node.json
[
    {
        "id": "90897012.e4d35",
        "type": "tab",
        "label": "LoRasync",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ede14377.6354b",
        "type": "debug",
        "z": "90897012.e4d35",
        "name": "chmsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "5838ece9.25d074",
        "type": "mysql",
        "z": "90897012.e4d35",
        "mydb": "40890955.a85948",
        "name": "db1",
        "x": 430,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "f9218e42.a20cb",
        "type": "template",
        "z": "90897012.e4d35",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO mydata(id,name,water_level)\nVALUES('{{payload.id}}','{{payload.name}}',{{payload.water_level}});",
        "output": "str",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "bbdc6d84.455a8",
                "5838ece9.25d074"
            ]
        ]
    },
    {
        "id": "3928d448.f0fa2c",
        "type": "mqtt in",
        "z": "90897012.e4d35",
        "name": "",
        "topic": "lorasync",
        "qos": "2",
        "datatype": "auto",
        "broker": "aec2d4ac.3af4e8",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "67ab286.a8975d8",
                "ede14377.6354b"
            ]
        ]
    },
    {
        "id": "67ab286.a8975d8",
        "type": "json",
        "z": "90897012.e4d35",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "f9218e42.a20cb"
            ]
        ]
    },
    {
        "id": "22bc959d.4c4a4a",
        "type": "mqtt out",
        "z": "90897012.e4d35",
        "name": "",
        "topic": "siren",
        "qos": "1",
        "retain": "true",
        "broker": "aec2d4ac.3af4e8",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "bbdc6d84.455a8",
        "type": "switch",
        "z": "90897012.e4d35",
        "name": "condi",
        "property": "payload.water_level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "12",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "7084dd2c.e15484",
                "abd1a1d6.f4738"
            ],
            [
                "69009d9a.925ae4"
            ],
            [
                "69009d9a.925ae4"
            ]
        ]
    },
    {
        "id": "110de2d8.e45fbd",
        "type": "debug",
        "z": "90897012.e4d35",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "abd1a1d6.f4738",
        "type": "trigger",
        "z": "90897012.e4d35",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "2",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "110de2d8.e45fbd"
            ]
        ]
    },
    {
        "id": "7084dd2c.e15484",
        "type": "change",
        "z": "90897012.e4d35",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "22bc959d.4c4a4a",
                "3c03c3da.26d4cc"
            ]
        ]
    },
    {
        "id": "ddf879c4.b68b98",
        "type": "sms",
        "z": "90897012.e4d35",
        "name": "sms",
        "message": "The level of water across the dam has reached to critical. Please move to safest zone.Emergency contact no:+911126187232.",
        "numbers": "+919420804744",
        "throttle": "1",
        "twilio": "6fefe367.a9edec",
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "69009d9a.925ae4",
        "type": "change",
        "z": "90897012.e4d35",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "22bc959d.4c4a4a",
                "3c03c3da.26d4cc"
            ]
        ]
    },
    {
        "id": "3c03c3da.26d4cc",
        "type": "debug",
        "z": "90897012.e4d35",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "40890955.a85948",
        "type": "MySQLdatabase",
        "z": "",
        "name": "IoT DB on Saumya AWS",
        "host": "localhost",
        "port": "3306",
        "db": "db1",
        "tz": ""
    },
    {
        "id": "aec2d4ac.3af4e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "esp8266",
        "broker": "18.223.110.198",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "ACE/OP",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "ONLINE",
        "closeTopic": "ACE/OP",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "OFFLINE",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6fefe367.a9edec",
        "type": "twilioConfig",
        "z": "",
        "name": "twilioConfig"
    }
]